* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1e1f26;
    color: #ffffff;
    padding: 5px;    
}

h1{
    color: #0086e6;  
}

nav{
    padding: 0.25rem;
    margin-bottom: 2em;
}

a{
    color: #ffffff;
    text-decoration: none;
}

nav a{
    margin: 0.25rem;
    padding: 0.5em;
    text-align: center;
}

nav a:hover {
    background-color: #444857;
    color: #0086e6;
}   

nav a.active{
    background-color: #696d79;
}

.apps {
    background-color: slategrey;
    padding: 0 10px 10px 10px;
    border-radius: 10px;

}

.app-header-container {
    display: inline-block;
    background-color: darkslategray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;

}

.app-header-flex {
    display: flex;
    align-items: center;
}

.app-icon {
    height: 32px;
    margin-right: 0.5em;
}

.app-title {
    color: black;
    font-size: large;
    font-weight: 700;
    margin: 0;
}

.links a{
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

#ip table, td{
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

#ip tr td:last-child{
    text-align: center;
}

#ip tr:hover{
    background-color: #444857;
}

#ip td{
    padding: 2% 1rem;
}

#ipButton {
    padding: 0.5em;
    border-radius: 5px;
}

.social a{
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.social a:hover{
    opacity: 0.8;
}

.stackoverflow {
    background-color: #393939;
    color: #d64a17;
}

.bitbucket{
    background-color: #0747a6;
}

.github{
    background-color: #211f1f;
    border: 1px solid white;
}

.twitter {
    background-color: #1DA1F2;
}

.facebook{
    background-color: #3b5998;
}

.instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.quora{
    background-color: #b92b27;
}

.reddit{
    background-color: #ff5700;
}

.youtube{
    background-color: #c4302b;
}
    
.medium {
    background-color: black;
}