body{
    background-color: #1e1f26;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;    
}

h1{
    color: #0086e6;  
}

nav{
    display: inline-grid;
    grid-template-columns: 7rem 7rem 7rem auto;
    column-gap: 1rem;
    background-color: #444857;
    padding: 0.25rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

nav a{
    padding: 0.5rem;
    text-align: center;
}

nav a.active{
    background-color: #696d79;
}

#ip table, td{
    border: 1px solid #ffffff;
    border-collapse: collapse;
}
#ip tr td:last-child{
    text-align: center;
}
#ip td{
    padding: 2% 1rem;
}

.social a{
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.github{
    background-color: #211f1f;
}
.facebook{
    background-color: #3b5998;
}
.instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.quora{
    background-color: #b92b27;
}
.reddit{
    background-color: #ff5700;
}
.youtube{
    background-color: #c4302b;
}

@media(hover: hover) {
    nav a:hover{
        color: #0086e6;
    }

    #ip tr:hover{
        background-color: #444857;
    }
    
    .social a:hover{
        opacity: 0.8;
    }
}
