* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1e1f26;
    color: #ffffff;
}

h1{
    color: #0086e6;  
}

nav{
    margin-bottom: 2em;
    background-color: #696d79;
    overflow: hidden;
}

a{
    color: #ffffff;
    text-decoration: none;
}

nav a{
    float: left;
    display: block;
    padding: 0.5em;
    text-align: center;
}

nav a:hover {
    background-color: black;
    color: #0086e6;
}   

nav a.active{
    background-color: #1e1f26;
}

nav a.menu {
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        border: 2px solid white;
    }
    nav a:not(:first-child) {
        display: none;
    }
    nav a.menu {
        float: right;
        display: block;
    }
    nav.responsive {
        position: relative;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    nav.responsive a.menu {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.apps {
    background-color: slategrey;
    padding: 0 10px 10px 10px;
    border-radius: 10px;

}

.app-header-container {
    display: inline-block;
    background-color: darkslategray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;

}

.app-header-flex {
    display: flex;
    align-items: center;
}

.app-icon {
    height: 32px;
    margin-right: 0.5em;
}

.app-title {
    color: black;
    font-size: large;
    font-weight: 700;
    margin: 0;
}

#links {
    display: inline-block;
    padding: 0.5rem;
    background-color: #5d8aa8;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

.link {
    border-left: 3px solid darkslategray;
    padding: 0.5em;
    margin: 1em;
}

#src-div i {
    margin-right: 10px;
}

#src-div a {
    color: black;
    text-decoration: underline;
}

#src-div a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

#dl-div i {
    margin-right: 15px;
}

#dl-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dl-div li {
    margin: 5px 0 5px 20px;
    padding: 5px;
}

.download {
    text-decoration: underline;
    color: black;
    padding: 5px;
    font-size: 0.875em;
}

.download:hover {
    opacity: 0.8;
}

#ip table, td{
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

#ip tr td:last-child{
    text-align: center;
}

#ip tr:hover{
    background-color: #444857;
}

#ip td{
    padding: 2% 1rem;
}

#ipButton {
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    background-color: lightgray;
    cursor: pointer;
}

#ipButton:hover {
    opacity: 0.8;
}

.social a{
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.social a:hover{
    opacity: 0.8;
}

.stackoverflow {
    background-color: #393939;
    color: #d64a17;
}

.bitbucket{
    background-color: #0747a6;
}

.github{
    background-color: #211f1f;
    border: 1px solid white;
}

.twitter {
    background-color: #1DA1F2;
}

.facebook{
    background-color: #3b5998;
}

.instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.quora{
    background-color: #b92b27;
}

.reddit{
    background-color: #ff5700;
}

.youtube{
    background-color: #c4302b;
}
    
.medium {
    background-color: black;
}

/* windows-setup */
#windows-dl {
    background-color: slategrey;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#windows-dl h3 {
    color: black;
}

#windows-dl a {
    text-decoration: underline;
}

#windows-apps {
    background-color: slategrey;
    padding: 10px;
    border-radius: 10px;
}

#windows-apps h3 {
    color: black;
}

#windows-apps h3 a {
    text-decoration: underline;
    color: black;
}

#windows-apps-list {
    list-style-type: none;
    color: black;
}

#windows-apps-list li {
    margin-bottom: 0.5em;
}

#windows-gen-script {
    margin-left: 10px;
    font-size: medium;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    background-color: lightgray;
    cursor: pointer;    
}

#hidden {
    display: none;
    margin: 20px;
}

#windows-dl-script, #exec-policy-button, #cinst-button {
    margin-left: 10px;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    background-color: lightgray;
    cursor: pointer;    
}

#dl-script, #copy-script {
    background-color: #5d8aa8;
    color: black;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

#dl-script li, #copy-script li {
    margin-bottom: 5px;
}

.textarea-wrapper {
    padding-right: 10px;
}

.textarea-wrapper textarea {
    width: 100%;
    background-color: black;
    color: #0086e6;
}